body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

/* LOGIN */
.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 320px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.login-input {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  display: block;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: #1877f2;
  color: white;
  border: none;
  border-radius: 8px;
}

/* BOOKING */
.container {
  padding: 20px;
}
.register-btn {
  width: 100%;
  padding: 10px;
  background: #42b72a;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}